.recipe-detail {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.recipe-detail:hover {
    transform: scale(1.01);
}

.recipe-detail h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.recipe-detail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #feb300;
}

.recipe-detail p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #666;
    margin-bottom: 15px; /* Add space between paragraphs */
}

.recipe-detail h3 {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #444;
    border-bottom: 2px solid #feb300;
    padding-bottom: 5px;
}

.recipe-detail ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px; /* Space below the list */
}

.recipe-detail li {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px; /* Space between list items */
}

.recipe-detail .instructions {
    line-height: 1.6;
    color: #666;
    margin-top: 15px; /* Space above instructions */
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 12px 25px;
    font-size: 1em;
    background-color: #feb300;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
    background-color: #e0a100;
    transform: translateY(-2px); /* Slight lift on hover */
}

.back-button:focus {
    outline: none;
}
